.wideBackground{
  background-image: url("/pball.svg");
  
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -200px;

  height: 500px;
  width: 100%;
  max-width: 100%;

  position: absolute;

  z-index: 1;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    background-image: url("/pball.svg");
  
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 115%;
  
    height: 100%;
    width: 100%;
    max-width: 100%;
  
  }

}

.container {
  z-index: 2;
  display: flex;

  width: 100%;
  height: 400px;

  margin: auto;

  max-width: var(--max-width);

  position: relative;

  overflow: hidden;

  .about {
    min-height: 100%;

    width: 45%;

    // padding: 30px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Montserrat";

    .content {
      // max-width: 500px;
      min-height: 100%;
      display: flex;
      flex-direction: column;

      .code {
        font-weight: 900;
        color: #fff;
        font-size: 19px;
      }
      .attributes {
        color: aliceblue;
        display: flex;
        margin: 10px 0;
        .atbBox {
          display: flex;
          justify-content: center;
          align-items: center;

          width: fit-content;

          padding: 5px 10px;
          margin: 0 5px;
          border-radius: 3px;

          font-weight: 400;
          span:nth-child(1) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }

          &:nth-child(1){
            background-color: rgb(67, 119, 114);
          }
          &:nth-child(2){
            background-color: rgb(165, 54, 26);
          }
        }
      }
      .name {
        text-transform: uppercase;
        font-weight: 700;
        color: rgb(250, 250, 250);
        font-size: 40px;

        margin-top: 25px;
        margin-bottom: 15px;
      }
      .description {
        line-height: 1.5;
        color: rgb(250, 250, 250, 0.8);
      }

      .more {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          background-color: #fff;
          border: none;
          color: rgb(255, 0, 179);

          font-family: "Montserrat";
          font-weight: 500;

          padding: 15px;

          border-radius: 8px;
          width: 100%;

          text-transform: uppercase;
        }
      }
    }
  }
  .div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    min-height: 100%;

    position: relative;

    // background-color: rgb(14, 219, 255);

    &::before {
      width: 5px;
      background: linear-gradient(transparent 0%, #fff 90%, transparent 90%);
      height: 40%;
      content: "";
      top: 0;
      position: absolute;
    }
    &::after {
      width: 5px;
      background: linear-gradient(transparent 0%, #fff 0%, transparent 90%);
      height: 40%;
      content: "";
      bottom: 0;
      position: absolute;
    }

    span {
      color: #fff;
      margin-bottom: 8px;
      font-size: 50px;
    }
  }
  .pokeImage {
    width: 45%;
    min-height: 100%;

    position: relative;

    // background-color: rgb(255, 225, 0);
  }
}
