.card {
  margin: 15px;

  width: 300px;
  height: 340px;

  border-radius: 20px;

  background-color: rgba(4, 12, 39, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.111);

//   background-image: radial-gradient(rgba(20, 190, 63, 0.574), transparent 50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
  }
}
