.pokeInfoTable {

  height: 100%;
  width: 100%;
  max-height: fit-content;

  max-width: 800px;
  min-height: 400px;
  box-shadow: 0 0 7px rgba(79, 146, 135, 0.815);
  border-radius: 10px;

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;

}

@media (max-width: 810px) {
  .pokeInfoTable {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    box-shadow: none;
  }
}
