*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat, sans-serif;
}

body {
  &::-webkit-scrollbar {
    width: 0.9rem;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 0.5rem;
    border: 0.25rem solid var(--secondary-color);
  }
}

:root {
  --max-width: 1300px;
  --footer-height: 80px;
  --header-height: 120px;
  --selector-height: 30px;
  --main-height: calc(
    100vh -
      calc(var(--footer-height) + var(--header-height) + var(--selector-height))
  );

  --primary-color: rgb(233, 101, 8);
  --primary-color-light: rgb(229, 128, 99);
  --primary-color-vivid: rgb(248, 57, 4);

  --secondary-color: rgb(39, 8, 112);
  --secondary-color-hover: rgb(98, 61, 178);
  --secondary-color-hover-dark: rgb(59, 30, 122);
  --secondary-color-hover-black: rgb(32, 18, 61);
  --secondary-color-75transparency: rgba(54, 15, 138, 0.883);

  --gray-25transparent: #ffffff3f;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;

  background: linear-gradient(var(--primary-color), var(--primary-color-light));
  background-size: 100%;
}

.background {
  position: absolute;
  z-index: -1;
  object-fit: cover;

  filter: blur(10px);
}
