.listaPokemons {
    list-style: none;
}

.wrap {
    display: flex;
    width: 100%;
    min-width: 100%;
}

.container {
    background-color: #f3f3f3;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 100%;
    height: 100%;

    min-height: 100vh;
}

.container>h1 {
    font-family: 'Lexend', sans-serif;
    color: #EF192B;

    display: flex;
    align-items: center;

    padding-left: 150px;

    width: 100%;
    height: 100px;

    background-color: #f3f3f3;

    text-align: center;

    position: relative;

}

.infoPokemon {
    box-shadow: 0 0 8px rgba(28, 28, 28, 0.2);
}



@keyframes displayNone {
    0%{
        display: flex;
    }

    100%{
        display: none;
    }
}

.infoPokemon {
    font-family: 'Lexend', sans-serif;

    position: relative;
    width: 100vw;
    height: 80vh;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    overflow: hidden;

    padding: 20px;

    margin: 5px 5px 5px 0; /*margin at all sides, except at left*/

    background-color: #ffffff;
}

.infoPokemon h1 {
    border-bottom: 1px solid rgba(67, 67, 67, 0.056);
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.infoPokemon .imagemPokemon {
    box-shadow: 2px 2px 7px rgba(48, 48, 48, 0.179);
    border-radius: 10px;
    overflow: hidden;

    min-height: 250px;
    height: 250px;
    width: 250px;
    min-width: 250px;
}

.infoPokemon .imagemPokemon img {
    width: 100%;
    height: 100%;
}


.infoPokemon .aboutPokemon {
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
}

.infoPokemon .aboutPokemon ul {
    list-style: none;

}

.infoPokemon .aboutPokemon ul li {

    background-color: #EF192B;
    color: #fff;

    width: 200px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px;

    border-radius: 30px;
}


@media only screen and (max-width: 600px) {
    .container .wrap {
        flex-direction: column;
    }

    .wrapTables{
        width: 95vw;
        height: 30vh;
        margin: auto auto 5px auto;
    }

    .wrapTablesMenor{
        height: 0;
        width: 95vw;

    }

    .tablemenor,
    .headermenor
    {
        height: 0;
        width: 100%;
    }

    .infoPokemon {
        height: 100%;

        width: 95vw;

        margin: auto;

    }

    .infoPokemon .imagemPokemon {
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
    }

    .infoPokemon .aboutPokemon ul li{
        width: fit-content;
        padding: 0 15px;
    }

    .container{
        padding: 5px;
    }
    
}


.footer {
    position: absolute;

    bottom: 0;
}