.listaPokemons {
  list-style: none;
}

.wrap {
  display: flex;
  width: 100%;
  min-width: 100%;
}

.container {
  background-color: #f3f3f3;

  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  height: 100%;

  min-height: 100vh;

}

.container > h1 {
  font-family: "Lexend", sans-serif;
  color: #ef192b;

  display: flex;
  align-items: center;

  padding-left: 3vw;

  width: 100%;
  height: 100px;

  background-color: #f3f3f3;

  text-align: center;

  position: relative;
}

@keyframes displayNone {
  0% {
    display: flex;
  }

  100% {
    display: none;
  }
}

.infoPokemon {
  font-family: "Lexend", sans-serif;

  position: relative;
  width: calc(100vw - 150px);
  min-height: 80vh;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  overflow: hidden;

  padding: 20px;

  background-color: #ffffff;

  box-shadow: 0 0 8px rgba(28, 28, 28, 0.2);

}

.infoPokemon .aboutPokemon > h1 {
  border-bottom: 1px solid rgba(67, 67, 67, 0.056);
  padding-bottom: 15px;

  margin: 25px 10px;

  position: relative;
  width: 100%;

  color: #19bdef;
}

.infoPokemon .aboutPokemon .namesPokemon{
  color: #19bdef;
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.infoPokemon .aboutPokemon .namesPokemon h1{
  border-bottom: 1px solid #19bdef;

}

.infoPokemon .aboutPokemon .namesPokemon .tipoPokemon{
  display: flex;
  justify-content: center;
}

.infoPokemon .aboutPokemon .namesPokemon h2{

  border: 1px solid #19bdef;
  border-radius: 30px;
  padding: 3px 20px;

  margin: 10px 0;

  font-size: 14px;
}
.infoPokemon .aboutPokemon .namesPokemon .ico{
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 1px solid #19bdef;
  background-color: #19bdefb0;
  border-radius: 30px;
  padding: 3px 13px;
  
  margin: 10px 5px;
  
  font-size: 14px;
  
}

.infoPokemon .aboutPokemon .namesPokemon .ico::before{
  content: 'A';
  position: absolute;
  color: #fff;
}
  
.infoPokemon .imagemPokemon {
  border-radius: 10px;
  overflow: hidden;

  min-height: 290px;
  height: 290px;
  width: 290px;
  min-width: 290px;

  margin: 0 0 0 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgba(175, 175, 175, 0.048); */
  /* border: 1px solid #dfdfdfa6; */

}

.infoPokemon .imagemPokemon img {
  width: 100%;
  height: 100%;
}

.infoPokemon .aboutPokemon {
  width: 90%;
  min-height: 350px;
  
  border-radius: 5px;

  margin: 10px auto;
  padding: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.infoPokemon .aboutPokemon ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  /* background-color: rgba(175, 175, 175, 0.048); */
  /* border: 1px solid #dfdfdfa6; */

  border-radius: 5px;

  margin: 5px;

  max-width: 800px;
  max-height: 290px;
  min-height: 290px;
}

.infoPokemon .aboutPokemon ul .dataArea {
  margin: 0;

  padding: 0 5px;

  max-width: 200px;
  min-width: 200px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;

}

.infoPokemon .aboutPokemon ul .dataArea label {
  color: #19bdef;
  margin-bottom: 5px;
  font-size: 14px;
}

.infoPokemon .aboutPokemon ul .dataArea li {
  background-color: #eeeeee7e;
  box-shadow: 0 0 4px rgba(177, 177, 177, 0.72) inset;
  color: rgb(14, 14, 14);

  max-width: 200px;
  min-width: 150px;

  height: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border-radius: 30px;
  overflow: hidden;

  z-index: 10;
}
.infoPokemon .aboutPokemon ul .dataArea li span {
  position: absolute;
  z-index: 10;
  font-size: 10px;
  color: #feffff;
}

.infoPokemon .aboutPokemon ul .dataArea li .progressBar {
  left: 0;
  transition: 0.2s;
  position: absolute;
  height: 100%;
  box-shadow: 10px -4px 19px rgba(255, 255, 255, 0.515) inset;
}

.infoPokemon .aboutPokemon ul .dataArea li #hpProgress {
  background-color: #19bdef;
  width: 45%;
}
.infoPokemon .aboutPokemon ul .dataArea li #attackProgress {
  background-color: #19bdef;
  width: 49%;
}

.infoPokemon .aboutPokemon ul .dataArea li #defenseProgress {
  background-color: #19bdef;
  width: 49%;
}
.infoPokemon .aboutPokemon ul .dataArea li #specialAttackProgress {
  background-color: #19bdef;
  width: 65%;
}
.infoPokemon .aboutPokemon ul .dataArea li #specialDefenseProgress {
  background-color: #19bdef;
  width: 65%;
}
.infoPokemon .aboutPokemon ul .dataArea li #speedProgress {
  background-color: #19bdef;
  width: 45%;
}

@media only screen and (max-width: 1000px) {
  .container .wrap {
    flex-direction: column;
  }


  .infoPokemon {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    max-width: 95vw;
    width: calc(100vw - 20px);

  }

  .infoPokemon .aboutPokemon {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0 0 30px 0;
    width: 100%;

    position: relative;
  }

  .infoPokemon .aboutPokemon ul {
    list-style: none;

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    max-width: 800px;
    max-height: fit-content;

    position: relative;
  }

  .infoPokemon .aboutPokemon ul .dataArea {
    position: relative;
    max-width: fit-content;

    margin: 5px 0;

  }

  .infoPokemon .aboutPokemon ul .dataArea label{
    margin: 0 25px;

  }

  .infoPokemon .aboutPokemon ul .dataArea li {
    width: calc(100vw - 120px);
    max-width: 500px;
    margin: 10px 20px;

    position: relative;

  }

  .infoPokemon .imagemPokemon {
    max-width: 190px;
    max-height: 190px;
    min-width: 190px;
    min-height: 190px;
  }

  .infoPokemon .aboutPokemon ul li {
    width: 100%;
    padding: 0 15px;
    position: relative;
  }

  .container {
    padding: 5px;
    position: relative;
  }
}

.footer {
  position: relative;

  bottom: 0;
  background-color: #ef192b;
  padding: 30px 3vw;

  color: #fff;
  font-family: 'Courier New', Courier, monospace;

}
