.header {
  height: var(--header-height);
  width: 100%;
  background-color: transparent;
  z-index: 10;

  max-width: var(--max-width);

  margin: auto;

  position: relative;
  overflow: hidden;

  display: flex;

  .logo {
    margin-left: 20px;
    display: flex;
    & > img {
      position: relative;
      max-width: 150px;
    }
  }
  .social {
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;

      li {
        a {
          cursor: pointer;

          margin: 15px;

          width: 30px;
          height: 30px;

          display: flex;
          justify-content: center;
          align-items: center;

          position: relative;

          & > svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
