.header {
  height: var(--header-height);
  width: 100%;
  background-color: transparent;
  z-index: 10;

  max-width: var(--max-width);

  margin: auto;

  position: relative;
  overflow: hidden;

  display: flex;

  .logo {
    margin-left: 20px;
    display: flex;

    &>img {
      position: relative;
      max-width: 150px;
    }
  }
}

@media (max-width: 400px) {
  .header {
    .logo {
      &>img{
        max-width: 90px;
      }
    }
  }
}