.footer {
  background-color: var(--secondary-color);

  .content {
    position: relative;

    width: 100%;
    height: var(--footer-height);

    color: rgb(252, 252, 252);

    display: flex;
    align-items: center;

    margin: auto;
    bottom: 0;
    padding: 15px;

    border-top: 1px solid var(--gray-25transparent);

    max-width: var(--max-width);

    .socialMediaContainer{
      margin-left: auto;
    }

    span {
      margin: 10px;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    .content {
      position: relative;
      height: fit-content;
      flex-wrap: wrap;
      .socialMediaContainer{
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}