.footer {
  background-color: var(--secondary-color);
  .content {
    position: relative;

    width: 100%;
    height: var(--footer-height);

    color: rgb(252, 252, 252);

    display: flex;
    align-items: center;

    margin: auto;
    bottom: 0;

    border-top: 1px solid rgba(255, 255, 255, 0.463);

    max-width: var(--max-width);

    span {
      margin: 10px;
    }
  }
}