.container {
  width: 100%;
  background-color: var(--secondary-color);

  min-height: 300px;

  width: 100%;
  min-width: 100%;

  z-index: 2;

  position: relative;


  display: flex;
  justify-content: center;
  align-items: center;

  .content {
  max-width: var(--max-width);
  padding: 20px;

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}
