.container {
  width: 100%;
  background-color: var(--secondary-color);

  min-height: 300px;

  width: 100%;
  min-width: 100%;

  z-index: 2;

  position: relative;


  display: flex;
  justify-content: center;
  align-items: center;

  .content {
  max-width: var(--max-width);
  padding: 20px;

  display: flex;
  flex-direction: column;

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    button.loadMore{
      background-color: var(--primary-color);
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      font-weight: 700;

      font-size: 16px;

      cursor: pointer;

      max-width: 250px;

      margin: auto;
      &:hover{
        background: var(--primary-color-vivid);
      }
    }
  }
}

@media (max-width: 400px) {
  .container{
    .content{
      padding: 0;
    }
  }

}
