.listaPokemons{
    list-style: none;
}

.container{
    background-color: #E9DA4E;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1{
    font-family: 'Lexend', sans-serif;
    padding: 40px 30px;
    color: #EF192B;
}

.tablePokemon{
    padding: 20px;
    background-color: #EF192B;

    color: #E9DA4E;
    font-family: 'Lexend', sans-serif;

    border-collapse: collapse;
}

.tablePokemon tr th{
    padding: 15px 40px;
}
.tablePokemon tr td{
    padding: 15px 40px;
}

.tablePokemon tr td:nth-child(even){
    background-color: #e9da4e2e;
}
.tablePokemon tr td:nth-child(odd){
    background-color: #ef192b59;
}