.listaPokemons{
    list-style: none;
}

.wrap{
    display: flex;
    width: 100%;
}

.container{
    background-color: #f3f3f3;

    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 100%;
    height: 100%;

    min-height: 100vh;
}

.container > h1{
    font-family: 'Lexend', sans-serif;
    color: #EF192B;

    display: flex;
    align-items: center;

    padding-left: 20px;

    width: 100%;
    height: 100px;
    
    background-color: #f3f3f3;

    text-align: center;

    position: relative;

}

.tablePokemon,
.infoPokemon{
    box-shadow: 0 0 8px rgba(28, 28, 28, 0.2);
}

.tablePokemon{

    border-collapse: collapse;
    position: relative;
    
    margin: 5px;
    margin-right: auto;
    
    display: block;

    width: 350px;
    height: calc(100vh - 110px);

    overflow-y: scroll;

    border-radius: 10px;

    background-color: #EF192B;
}

.tablePokemon::-webkit-scrollbar{
    display: none;
}

.tablePokemon tr td:nth-child(1) {
   border-right: 1px solid #be1321;
}


.tablePokemon tr th,
.tablePokemon tr td{
    position: relative;
    text-align: center;

    padding: 10px 15px;

    width: 175px;

    color: #fcfcfc;
    font-family: 'Lexend', sans-serif;

    cursor: pointer;
}

.tablePokemon tr:hover td{
    background-color: #00000038;
}


.tablePokemon tr:nth-child(even){
    background-color: #00000015;
}
.tablePokemon tr:nth-child(odd){
    background-color: #00000004;
}


.infoPokemon{
    font-family: 'Lexend', sans-serif;

    position: relative;
    width: calc(100% - 365px);
    height: calc(100vh - 115px);

    border-radius: 10px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    padding: 20px;

    margin-top: 5px;
    margin-left: auto;
    margin-right: 5px;

    background-color: #ffffff;
}

.infoPokemon h1{
    border-bottom: 1px solid rgba(67, 67, 67, 0.056);
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.infoPokemon .imagemPokemon{
    box-shadow: 2px 2px 7px rgba(48, 48, 48, 0.179);
    border-radius: 10px;
    overflow: hidden;

    height: 250px;
    width: 250px;
}

.infoPokemon .imagemPokemon img{
    width: 100%;
    height: 100%;
}


.infoPokemon .aboutPokemon{
    width: 100%;
    height: 250px;

    display: flex;
    align-items: center;
}

.infoPokemon .aboutPokemon ul li{
list-style: none;

}

.infoPokemon .aboutPokemon ul li{

    background-color: #EF192B;
    color: #fff;

    width: 200px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px;

    border-radius: 30px;


}