.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;

    top: 0;

    padding: 10px;

    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.668);

    animation: fade 0.2s linear;

    .modal {

        display: flex;
        justify-content: center;
        align-items: center;
        // flex-direction: column;
        flex-wrap: wrap;

        color: #fff;

        width: 100%;
        max-width: 950px;
        min-height: 400px;

        background-color: var(--secondary-color-75transparency);
        background-color: rgba(45, 59, 156, 0.37);
        box-shadow: 0 0 12px var(--secondary-color-hover-black);
        border-radius: 24px;

        padding: 60px;
        gap: 40px;

        position: relative;

        width: 100%;

        .basicInfoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 45%;

            position: relative;

            gap: 10px;

            .id {
                font-size: 18px;
            }

            .name {
                font-size: 25px;
            }


            .infoWEIGHT_container {
                display: flex;
                padding: 5px 10px;

                margin: 20px 0;

                .infoWEIGHT {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    gap: 5px;

                    margin: 0 5px;
                    color: #fff;

                    p {
                        &:nth-child(1) {
                            font-weight: 800;
                            margin: 5px;
                        }
                    }
                }
            }
        }

        .statsInfoContainer {
            width: 50%;
            padding: 0 0 0 30px;

            // .stats{
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    background-color: rgba(255, 255, 255, 0.326);
                    height: 100%;
                    width: 1px;
                }

            li {

                width: 100%;
                height: 40px;

                display: flex;
                justify-content: center;
                align-items: center;

                margin: 5px;

                list-style: none;
                position: relative;

                .txtStat {

                    width: 200px;
                    position: relative;

                    &>span:nth-child(1) {
                        margin-right: 20px;
                    }

                    &>span:nth-child(2) {
                        position: absolute;
                        margin-right: 20px;
                        right: 0;
                        font-weight: 800;
                    }
                }

                .statBarContainer {
                    margin-top: 5px;

                    width: 100%;
                    height: 10px;

                    background-color: rgba(33, 33, 33, 0.441);

                    border-radius: 10px;

                    position: relative;
                    overflow: hidden;


                    .statBar {
                        height: 100%;

                        position: absolute;
                        left: 0;
                        top: 0;
                        border-radius: 10px;
                        background: linear-gradient(rgb(81, 171, 255), rgb(0, 157, 255));

                        animation: slide 0.5s linear;
                    }
                }
            }

        }

        // .name {
        //     font-size: 3rem;
        // }

        // .ability {
        //     margin: 5px;
        //     font-size: 1rem;
        // }


        .imgContainer {
            display: flex;
            justify-content: center;
            position: relative;

            min-height: 200px;
            min-width: 100%;

            user-select: none;
        }

        button {
            width: 30px;
            height: 30px;
            background-color: var(--primary-color-vivid);
            color: #fff;
            font-weight: 700;

            border: none;
            border-radius: 10px;
            position: absolute;
            top: -10px;
            right: -10px;

            cursor: pointer;

            &:hover {
                background-color: var(--primary-color-light);
            }
        }
    }
}

@media (max-width: 1000px) {
    .container {
        .modal {
            min-width: 80vw;
            width: fit-content;
            padding: 10px;
            gap: 10px;

            .statsInfoContainer {
                width: 100%;
                padding: 20px;

                &::before{
                    display: none;
                }

                .stats {
                    position: relative;
                    padding: 10px 0;
                    &::before {
                        content: '';
                        background-color: rgba(255, 255, 255, 0.464);
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        top: 0;
                    }
                }
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide {
    0% {
        width: 0%;
    }

    100% {
        width: none;
    }
}